$color:#000;

// 全局样式的重置
html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.app {
    color: $color;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(247, 248, 250, 1);
    overflow: hidden; //设置不让其出现滚动条
}